@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";


.card-container {
    display: flex;
    flex-direction: column;

    .card {
        transition: all ease-in-out 200ms;
    }
    .card:hover {
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        z-index: 10;
    }
}

.card {
    padding: 0;
    flex-direction: row;
    cursor: pointer;
}
.card-img-top {
    width: 25%;
    height: 150px; }

.row { flex-wrap: nowrap; }
.flex-col { flex-direction: column; }
.h-max { height: max-content; }

ul.pagination {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

aside.card { width: calc(33.33% - 0.75rem); }